<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--f=f(x,t,u)-->
		<add key="K" value="t*x^2+u^2"/>

		<!--f=f(x,t,u)-->
		<add key="dK_du" value="2u"/>

		<!--f=f(x,t,u,K)-->
		<add key="g" value="x^2+6x*t-2u*(2x*t+3t^2)^2-2t*K"/>

		<!--f=f(x)-->
		<add key="InitCond" value="0"/>

		<!--f=f(t)-->
		<add key="LeftBoundCond" value="0"/>

		<!--f=f(t)-->
		<add key="RightBoundCond" value="t+3t^2"/>

		<!--f=f(x,t)-->
		<add key="u" value="t*x^2+3x*t^2"/>

		<!--f=f(x,t)-->
		<add key="du_dx" value="2x*t+3t^2"/>

		<!--f=f(x,t)-->
		<add key="d2u_dx2" value="2t"/>

		<!--f=f(x,t)-->
		<add key="du_dt" value="x^2+6x*t"/>

		<add key="X1" value="0"/>
	</appSettings>
</configuration>